In [1]:
import re
import pandas as pd

In [2]:
# Exercise 1

def is_vowel(string):
    """ return if the input is a single vowel character"""
    
    # Starts with a character from this character class
    # Ends with a character from this character class
    regex = r'^[aeiouAEIOU]$'
    return bool(re.search(regex, string))

assert is_vowel("A") == True
assert is_vowel("e") == True
assert is_vowel("b") == False
assert is_vowel("ee") == False
assert is_vowel("aie") == False

In [3]:
# Exercise 2
# A valid username starts with a lowercase letter, 
# and only consists of lowercase letters, numbers, or the _ character. 
# It should also be no longer than 32 characters. 
# The function should return True or False

def is_valid_username(string):
    return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', string))

assert is_valid_username("jane_janeway76") == True
assert is_valid_username("bob_bobberson") == True
assert is_valid_username("Robert') DROP TABLE Students;--") == False
assert is_valid_username("quincy__!") == False

In [29]:
# Exercise 3

# Write a regular expression to capture phone numbers. 
# It should match all of the following:
# (210) 867 5309       
# +1 210.867.5309      
# 867-5309 is my phone number
# 210-867-5309

# Parts of a phone number
# Country Code +1, Area Code 210, Exchange Code 226, Line number 3232

phone_number_re = re.compile(r'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
    '2108675309',
]
pd.concat([df, df.number.str.extract(phone_number_re)], axis=1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

In [19]:
regexp = r'(\d+)/(\d+)/(\d+)'
subject = '02/04/19'

re.search(regexp, subject).groups()

('02', '04', '19')

In [17]:
# Exercise 4
# Convert the dates below to the standardized year-month-day format.
dates = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
]

dates = [re.sub(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2', date) for date in dates]
dates

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

In [26]:
[re.sub(regexp, r'20\3-\1-\2', subject) for subject in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

In [ ]:
# Exercise 5

lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [62]:
regexp = r'''
^
(?P<method>GET|POST)
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes_out>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d+\.\d+\.\d+\.\d+)
'''

[re.search(regexp, line, re.VERBOSE).groupdict() for line in lines.strip().split('\n')]

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '200',
  'bytes_out': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '201',
  'bytes_out': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'timestamp': '16/Apr/2019:193453+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '429',
  'bytes_out': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [6]:
# method, endpoint, date, protocol, http_status_code, some_number, "user_agent", ip_address

regex = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*)
\s
\[(?P<timestamp>.*)\]
\s
HTTP/1.1
\s
{(?P<status>\d+)}
\s
(?P<bytes_sent>\d+)
\s
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
'''

regex = re.compile(regex, re.VERBOSE)

df = pd.DataFrame()
df['line'] = lines.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)
df

,line,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19.58

In [7]:
pd.read_csv('/usr/share/dict/words', header=None, squeeze=True)

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
Name: 0, Length: 235886, dtype: object

In [8]:
# Exercise 6

# Find a list of words on your mac at /usr/share/dict/words. 

# Use this file to answer the following questions:
# How many words have at least 3 vowels?
# How many words have at least 3 vowels in a row?
# How many words have at least 4 consonants in a row?
# How many words start and end with the same letter?
# How many words start and end with a vowel?
# How many words contain the same letter 3 times in a row?
# What other interesting patterns in words can you find?

# Wrangle
words = pd.read_csv('/usr/share/dict/words', header=None, squeeze=True).dropna()
words = words.str.lower()
words

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235884, dtype: object

In [9]:
# How many words have at least 3 vowels?
at_least_3_vowels = (words.str.count(r"[aeiou]")  >= 3)
words[at_least_3_vowels].head()
at_least_3_vowels.sum()

191365

In [10]:
# How many words have at least 3 vowels in a row?
words.str.count(r"[aeiou]{3}").sum()

6251

In [35]:
pd.concat([words, words.str.count('a')], axis=1)

                 0  0
0                a  1
1                a  1
2               aa  2
3              aal  2
4            aalii  2
...            ... ..
235881      zythem  0
235882      zythia  1
235883      zythum  0
235884     zyzomys  0
235885  zyzzogeton  0

[235884 rows x 2 columns]

In [42]:
# How many words have at least 4 consonants in a row?
words.str.count(r'[^aeiou]{4,}').value_counts()

0    216643
1     18881
2       360
Name: 0, dtype: int64

In [44]:
words.str.contains(r"[^aeiou]{4,}").sum()

19241

In [12]:
# Words with at least 6 consonants in a row
words[words.str.contains(r"[^aeiouy]{6}")]

12492     archchronicler
21118        bergschrund
64716      eschscholtzia
73886     fruchtschiefer
104560       latchstring
105552        lengthsman
122114        nachschlag
151826      postphthisic
227486       veldtschoen
Name: 0, dtype: object

In [13]:
# How many words start and end with the same letter?
# (.) is capture group 1
# ^(.) starts with any character
# .* mean any character repeated 0 or more times
# \1$ means ends with whatever the first capture group matched
words.str.contains(r'^(.).*\1$').sum()

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

11452

In [14]:
# How many words start and end with a vowel?
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

14657

In [15]:
# How many words contain the same letter 3 times in a row?
words[words.str.contains(r'(.)\1\1')]

24988             bossship
50636      demigoddessship
78498          goddessship
82997     headmistressship
140481       patronessship
230262            wallless
231688           whenceeer
Name: 0, dtype: object

In [16]:
# What other interesting patterns in words can you find?
# Find the words that contain "q" but not "qu"
# q means we're literally looking to match a q
# [^u] means not the "u" character
words[words.str.contains(r"q([^u]|$)")]

97907         iraq
97908        iraqi
97909      iraqian
108449      louiqa
116731       miqra
122607    nastaliq
150881     pontacq
161159           q
161160           q
161161      qasida
161162        qere
161163        qeri
161164      qintar
161165    qoheleth
161166        qoph
173530       saqib
180565        shoq
198373       tareq
235046      zaqqum
Name: 0, dtype: object